<html>
    <head>
        <title>Events List</title>
        <link rel="stylesheet" href={{url_for('static', filename = '/index.css')}}>
    </head>
    <body>
        <h1>Events List</h1>

        <form action="/events" method="post">
            <label for="date">Date</label>
            <input type="date" name="date" id="date">
            <br>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="number">Guest number</label>
            <input type="number" name="number" id="number">
            <br>
            <label for="location">Room</label>
            <input type="text" name="location" id="location">
            <br>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="2"></textarea>
            <br>
            <label for="recurring">Recurring</label>
            <input type="checkbox" name="recurring" id="recurring">
            <input type="submit" value="Add event">
            
        </form>

        {% for event in events %}
            <div id = "events">
                Date: {{event.date}} <br>
                Name: {{event.name}} <br>
                Guests: {{event.guest_number}} <br>
                Room: {{event.room_location}} <br>
                Description: {{event.description}} <br>
                {% if event.recurring %}
                    Recurring: <span>&#9989;</span>
                {% else %}
                    Recurring: <span>&#10060;</span>
                {% endif %} <br><hr>
            </div>
        {% endfor %}

    </body>
</html>